#intro-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 50%;
  width: 100%;
  margin: 25vh auto;
  color: #c8642d;
  cursor: none;
  text-align: center;
}

#intro-section h1 {
  padding: 5vh 3vw;
  font-size: calc(2.4vw + 26px);
  text-shadow: #d2d2d2 0 0 30px;
  border-bottom: solid #d2d2d2 1px;
  border-top: solid #d2d2d2 1px;
  text-align: center;
  vertical-align: center;
}

#intro-section .loader {
  font-size: calc(1.2vw + 20px);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  background-color: transparent;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  background: radial-gradient(#323232 80%, #c8642d);
}

@-webkit-keyframes blink {
  50% {
    color: transparent;
  }
}

@keyframes blink {
  50% {
    color: transparent;
  }
}

.loader__dot {
  -webkit-animation: 1s blink infinite;
          animation: 1s blink infinite;
}

.loader__dot:nth-child(2) {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.loader__dot:nth-child(3) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
